@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1>Logistica Peer Evaluation</h1>
    <p class="lead">Review your peers and colleagues. View ratings and reviews of yourself.</p>
    <img src="~/Pictures/Evaluation.png" width="300" />
</div>
