@{
    ViewBag.Title = "My Evaluations";
}
<h2>@ViewBag.Title.</h2>
<h3>Project X <small>Due: 4/16/2015</small></h3>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>How is this team member's communication skills?</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>Did this team member show initiative?</td>
                    <td>4</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col-lg-10 col-lg-offset-1">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Question</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>How is this team member's communication skills?</td>
                    <td>3</td>
                </tr>
                <tr>
                    <td>Did this team member show initiative?</td>
                    <td>2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Index", "Home")'">Back</button>

