@{
    ViewBag.Title = "Available evaluations";
}

<div>
    <h1>Evaluation for @Model.ForUserName</h1>
    <p>Each question is based on a scale of 1 to 5. 1 being the worst, 5 being the best.</p>
    <form action="SubmitReview" method="post">
        <input type="hidden" name="evaluationId" id="evaluationId" value="@Model.ID" />
        @for(int i = 0; i < Model.Questions.Count; i++) {
            <label>@Model.Questions[i]</label>
            <div class="form-group">
                <label class="radio-inline">
                    <input type="radio" name="radio-@i" id="radio-@i" value="1">1
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radio-@i" id="radio-@i" value="2">2
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radio-@i" id="radio-@i" value="3">3
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radio-@i" id="radio-@i" value="4">4
                </label>
                <label class="radio-inline">
                    <input type="radio" name="radio-@i" id="radio-@i" value="5">5
                </label>
            </div>
        }
        <div class="form-group">
            <label>Additional Comments</label>
            <textarea class="form-control" name="additionalComments" id="additionalComments" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</div>
