@{
    ViewBag.Title = "Available evaluations";
}

<div>
    <h1>@ViewBag.Title</h1>
    <p>Click on a colleage's name to evaluate them.</p>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                    Project Name
                </th>
                <th>
                    Due Date
                </th>
                <th>
                    Team Members
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var project in Model)
            {
                <tr>
                    <td>
                        @project.Name
                    </td>
                    <td>
                        4/16/2015
                    </td>
                    <td></td>
                </tr>
                foreach (var user in project.Users)
                {
                    <tr>
                        <td></td>
                        <td></td>
                        <td>@Html.ActionLink((string)user.FirstName + " " + (string)user.LastName, "Evaluation", "Reviews", new { projectId = (int)project.ID, forUser = (string)user.ID, submittedBy = (string)ViewBag.UserId }, null)</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
